{% extends "base.html" %}
{% block title %}سبد خرید{% endblock %}
{% block content %}
<h2 style="text-align:center;">سبد خرید</h2>
{% if items %}
<table class="cart-table">
    <thead><tr><th>محصول</th><th>تعداد</th><th></th></tr></thead>
    <tbody>
    {% for it in items %}
<tr data-id="{{ it.product.id }}">
  <td data-label="محصول">{{ it.product.name }}</td>
  <td data-label="تعداد">{{ it.qty }}</td>
  <td data-label=""><button class="rm-btn">حذف</button></td>
</tr>

    {% endfor %}
    </tbody>
</table>
<button id="checkout" class="checkout-btn">تأیید خرید</button>
{% else %}
<p style="text-align:center;">سبد خرید خالیه!</p>
{% endif %}
<script src="/static/cart.js"></script>
{% endblock %}
